
body {
  margin: 0;
  padding : 0;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
}

section:nth-child(2) {
  counter-reset: counter-plus-one;
}

h1 {
  text-align: center;
}

h2::before {
  /* Increment "my-sec-counter" by 1 */
  counter-increment: counter-plus-one 2;
  content: " Section " counter(counter-plus-one) ". ";
}

ul {
  padding : 20px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid #2d2d2d;
  height : 80%;
}


li {
  height : 30px;
  width : 80%;
  border : 1px solid black;
  margin-bottom: 10px;
  text-align:center;
  list-style: none;
  color: #ffffff;
}
/* 
li::before {
  counter-increment:  --counter;
  content: counter(--counter);
} */

/* n = index and starts with 0*/
/* 3xn or 3x0 */
/* 3xn or 3x1 */
/* 3xn or 3x2 */
/* li:nth-child(3n)::before{
  content: "3n";
  background-color: salmon;
  padding: 0 10px;
} */


/* n = index and starts with 0*/
/* 2xn+2 or 2x0+2 = 2 */
/* 2xn+2 or 2x1+2 = 4 */
/* 2xn+2 or 2x2+2 = 6 */
/* li:nth-child(2n+2)::after{
  content: " 2n+2 ";
  background-color:blue;
  margin : 10px;
}

li:nth-child(5)::before{
  content: "5";
  background-color:darkgreen;
  padding: 0 10px;
}

*/

/* n = index
  index always starts with 0
  0,1,2,3 ...... 10

*/
/* 2x1+1*/
li:nth-child(3n){
  content: "asdasdsadasd";
  background-color:brown;
  padding: 0 10px;
  border: 4px solid gray;
} 

h2  {
  padding : 10px;
}

.grid-item:nth-child(2n) {
  color :red;
}


main > section:nth-child(1) {
  margin : 10px;
  border : 2px solid  red;
}

/* h2:is(#css, :hover){
  color:red;
} */

/* 
same with 
section > div h1,h2
*/
/* section > div h1,h2,
section > article h1,h2,
section > aside h1,h2 {
  
} */

:is(section,main) > :is(div,article,aside) :is(h1,h2) {
  background-color: brown ;
  color:white;
  padding : 20px;
}

:is(section,main) > :is(div,article,aside) :is(h1,h2):hover {
  color : aqua;
}

