

body {
  /* adding bg image */
  background-image : url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRooEnD32-UtBw55GBfDTxxUZApMhWWnRaoLw&usqp=CAU);
  /* provides setup for background */
  background-repeat: no-repeat;
  /* position background depending on what is specified */
  background-position: center;
}
/* making it more specific on what where to add changes */
h1.header1 {
  color:green;
}


h1 {
  color : red;
}

ul li {
  color: black;
}

/* targeting specific element of html tag */
ul li a {
  color: black;
}

.green {
  color: #0000ff;
}

.yellow {
  color : rgb(0, 0, 0);
}
footer {
  background-color: aquamarine;
}

h1 {
  /* whole margin top,right,bottom,left */
  /* margin : 20px; */
  /* margin top,bottom and left,right */
  /* margin : 50px 100px; */
  /* margin top and left,right and bottom */
  /* margin : 50px 20px 100px; */
  /* margin top,right,bottom and left */
  /* margin : 0 0 0 100px; */
  /* margin-top: 100px; */
  padding : 20px;
}

article {
  /* adding border shorthand
  thickness border-type color
  */
  border : 2px dotted rgb(29, 18, 238);
}