.cards {
  grid-template-columns: repeat(2,1fr);
}

footer {
  grid-template-columns: repeat(3,1fr);
  min-height: max-content;
}

footer > nav {
  grid-column: 1/2
}

footer .newsletter {
  grid-column: 2/4;
}

.copyright {
  grid-column: 1/4;
}

.box {
  width : 800px !important;
}